1.Даны значения величины заработной платы заемщиков банка (zp) и значения их поведенческого кредитного скоринга (ks):
zp = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110],
ks = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832].
Найдите ковариацию этих двух величин с помощью элементарных действий, а затем с помощью функции cov из numpy
Полученные значения должны быть равны.
Найдите коэффициент корреляции Пирсона с помощью ковариации и среднеквадратичных отклонений двух признаков,
а затем с использованием функций из библиотек numpy и pandas.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
 zp = np.array([35, 45, 190, 200, 40, 70, 54, 150, 120, 110])

In [ ]:
 ks = np.array([401, 574, 874, 919, 459, 739, 653, 902, 746, 832])

In [ ]:
c = (zp*ks).mean()-zp.mean()*ks.mean()
c

9157.839999999997

In [ ]:
np.cov(zp,ks)

array([[ 3882.93333333, 10175.37777778],
       [10175.37777778, 33854.32222222]])

In [ ]:
np.cov(zp,ks,ddof=1)[0,1] #несмещённая оценка

10175.377777777776

In [ ]:
np.cov(zp,ks,ddof=0)[0,1] #смещённая оценка

9157.84

In [ ]:
df = pd.DataFrame({'zp':zp,'ks':ks}, columns = ['zp','ks'])
df

    zp   ks
0   35  401
1   45  574
2  190  874
3  200  919
4   40  459
5   70  739
6   54  653
7  150  902
8  120  746
9  110  832

In [ ]:
df.cov().values[0,1] #несмещённая оценка

10175.377777777776

In [ ]:
df.corr()

         zp       ks
zp  1.00000  0.88749
ks  0.88749  1.00000

In [ ]:
ks.std(ddof=1) #несмещённая оценка стандартного отклонения

183.99544076477068

In [ ]:
zp.std(ddof=1)

62.31318747531162

In [ ]:
10175.377/(ks.std(ddof=1)*zp.std(ddof=1))

0.8874900242366244

In [ ]:
df.cov(ddof=0).values[0,1] #смещённая оценка

9157.84

In [ ]:
df.corr()

         zp       ks
zp  1.00000  0.88749
ks  0.88749  1.00000

In [ ]:
ks.std(ddof=0) #смещённая оценка стандартного отклонения

174.55340157098058

In [ ]:
zp.std(ddof=0)

59.115480206118605

In [ ]:
9157.84/(ks.std(ddof=0)*zp.std(ddof=0))

0.8874900920739162

2.Измерены значения IQ выборки студентов,
обучающихся в местных технических вузах:
131, 125, 115, 122, 131, 115, 107, 99, 125, 111.
Известно, что в генеральной совокупности IQ распределен нормально.
Найдите доверительный интервал для математического ожидания с надежностью 0.95.

In [ ]:
IQ = np.array([131, 125, 115, 122, 131, 115, 107, 99, 125, 111])
IQ

In [ ]:
IQ.mean()